#ticket_form
  %h2 Ticket Form
  %h5 Send Us Your Ticket And We Will Reply
  = form_for @ticket do |f|
    %p
      = f.label :name 
      %br
      = f.text_field :name
    %p
      = f.label :email
      %br
      = f.text_field :email
    %p
      = f.label :department
      %br
      = f.select(:department, ['Call Center Department','Information Security','Human Resources','Financial Department'])
    %p
      = f.label :subject
      %br
      = f.text_field :subject
    %p
      = f.label :description
      %br
      = f.text_area :body
    %p
      = f.submit "Send Ticket"
